@model PhysicManagement.Logic.ViewModels.PagedList<PhysicManagement.Model.MedicalRecord>
@{
    ViewBag.Title = "تأیید کانتور";
    int Index = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">@ViewBag.Title</h4>
                </div>
                <div class="row">
                    <form method="get" style="width:100%;padding:10px 30px;" action="GetContoursToApprove">
                        <div class="row  gray-bg">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FirstName" class="bmd-label-floating">نام بیمار</label>
                                    <input type="text" id="FirstName" name="FirstName" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="LastName" class="bmd-label-floating">نام خانوادگی بیمار</label>
                                    <input type="text" id="LastName" name="LastName" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NationalCode" class="bmd-label-floating">کد ملی</label>
                                    <input type="text" id="NationalCode" name="NationalCode" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Mobile" class="bmd-label-floating">موبایل </label>
                                    <input type="text" id="Mobile" name="Mobile" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SystemCode" class="bmd-label-floating">شماره پرونده </label>
                                    <input type="text" id="SystemCode" name="SystemCode" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Code" class="bmd-label-floating">شناسه بیمار </label>
                                    <input type="text" id="Code" name="Code" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-left">جستجو</button>
                        <button type="reset" class="btn btn-info pull-left">پاک کردن فرم</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ردیف</th>
                                <th>نام بیمار</th>
                                <th>نام پزشک</th>
                                <th>شناسه بیمار</th>
                                <th>تاریخ ثبت</th>
                                <th>نوع سرطان</th>
                                <th width="100">تایید پزشک</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mr in Model.Records)
                            {
                                var CountorData = new PhysicManagement.Logic.Services.ContourService().GetContourByMedicalRecordId(mr.Id);
                                if (CountorData != null)
                                {
                                    <tr>
                                        <td>@Index</td>
                                        <td>@mr.Patient.FirstName @mr.Patient.LastName</td>
                                        <td>@mr.DoctorFirstName @mr.DoctorLastName</td>
                                        <td>@mr.Patient.NationalCode</td>
                                        <td>@Html.DisplayForDateTime(mr.ReceptionDate)</td>
                                        <td>@(mr.CancerTitle == null ? "" : mr.CancerTitle)</td>
                                        <td>
                                            <form action="SetApproveContourByDoctor" method="post">
                                                <input type="hidden" name="countorId" value="@CountorData.Id" />
                                                <input type="hidden" name="medicalRecordId" value="@mr.Id" />
                                                <button type="submit" class="btn btn-rose pull-left">تایید<div class="ripple-container"></div></button>
                                            </form>
                                        </td>
                                    </tr>
                                    Index++;
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        @{
                            int PageSize = (int)(ViewBag.PageSize);
                            int TotalRecords = (int)(ViewBag.TotalRecords);

                        }
                        @Html.Pagger(TotalRecords, PageSize)
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
