@model PhysicManagement.Model.Contour
@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت کنتور جدید";
    }
    else
    {
        ViewBag.Title = " ویرایش کنتور";
    }


}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">اطلاعات نمایشی کنتور</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorPersianDatePicker(model => model.ActionDate, "روز ثبت")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorPersianDatePicker(model => model.AcceptDate, " تاریخ تایید شده")
                            </div>
                        </div>

                        <input type="hidden" id="ExtraInfo1" name="ExtraInfo1" value="@Model.ExtraInfo1" />
                        <input type="hidden" id="ExtraInfo2" name="ExtraInfo2" value="@Model.ExtraInfo2" />

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="AcceptUser" class="bmd-label-floating">کاربر مورد تایید</label>
                                <input type="text" id="AcceptUser" name="AcceptUser" value="@Model.AcceptUser" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Description" class="bmd-label-floating">توضیحات</label>
                                <input type="text" id="Description" name="Description" value="@Model.Description" class="form-control">
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

