@model PhysicManagement.Logic.ViewModels.PagedList<PhysicManagement.Model.MedicalRecord>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-info"><h4 class="card-title">تجویز درمانی</h4></div>
                <div class="row">
                    <form method="get" style="width:100%;padding:10px 30px;" action="List">
                        <div class="row  gray-bg" style="margin:3px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FirstName" class="bmd-label-floating">نام بیمار</label>
                                    <input type="text" id="FirstName" name="FirstName" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="LastName" class="bmd-label-floating">نام خانوادگی بیمار</label>
                                    <input type="text" id="LastName" name="LastName" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NationalCode" class="bmd-label-floating">کد ملی</label>
                                    <input type="text" id="NationalCode" name="NationalCode" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Mobile" class="bmd-label-floating">موبایل </label>
                                    <input type="text" id="Mobile" name="Mobile" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SystemCode" class="bmd-label-floating">شماره پرونده </label>
                                    <input type="text" id="SystemCode" name="SystemCode" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Code" class="bmd-label-floating">شناسه بیمار </label>
                                    <input type="text" id="Code" name="Code" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col text-left">
                                <button type="submit" class="btn btn-rose pull-left">جستجو</button>
                                <button type="reset" class="btn btn-info pull-left">پاک کردن فرم</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ردیف</th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>موبایل</th>
                                <th>کد ملی</th>
                                <th>شناسه بیمار</th>
                                <th>تاریخ ثبت</th>
                                <th style="width:50px;">امکانات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model == null || Model.Records == null || Model.Records.Count() == 0)
                                {
                                    <tr><td colspan="1"><p class="text-center" style="padding:30px;">رکوردی برای نمایش وجود ندارد</p></td></tr>
                                }
                                else
                                {
                                    int Index = 1;
                                    foreach (var mr in Model.Records)
                                    {
                                        <tr>
                                            <td>@Index</td>
                                            <td>@mr.PatientFirstName</td>
                                            <td>@mr.PatientLastName</td>
                                            <td>@mr.Patient.Mobile</td>
                                            <td>@mr.Patient.NationalCode</td>
                                            <td>@mr.Patient.Code</td>
                                            <td>@Html.DisplayForDateTime(mr.Patient.RegisterDate)</td>

                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        امکانات
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-left">
                                                        <a class="dropdown-item"
                                                           target="_blank"
                                                           href="~/treatmentPhase/SetPhaseAsPlanned?medicalRecordId=@mr.Id">طراحی درمان</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        Index++;
                                    }
                                }
                            }


                        </tbody>
                    </table>
                    <div class="row">
                        @{
                            int PageSize = (int)(ViewBag.PageSize);
                            int TotalRecords = (int)(ViewBag.TotalRecords);

                        }
                        @Html.Pagger(TotalRecords, PageSize)
                    </div>
                </div>
            </div>
        </div>
    </div>

