@model List<PhysicManagement.Model.TreatmentPhase>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">لیست فاز درمانی</h4>
                    <h3>
                        <a class="btn btn-sm bg-light text-dark" href="Modify">افزودن جدید</a>
                    </h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ردیف</th>
                                <th>شناسه پرونده پزشکی</th>
                                <th>فاز</th>
                                <th>عنوان فاز</th>
                                <th>دز</th>
                                <th>فرکشن/Fraction</th>
                                <th>هدف/Target</th>
                                <th>توضیحات</th>
                                <th>تاریخ</th>
                                <th>کاربر</th>
                                <th style="width:50px;">امکانات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int Index = 1;
                                foreach (var treatmentPhase in Model)
                                {
                                                        <tr>
                                                            <td>@Index</td>
                                                            <td>@treatmentPhase.MedicalRecordId</td>
                                                            <td>@treatmentPhase.PhaseNumber</td>
                                                            <td>@treatmentPhase.PhaseText</td>
                                                            <td>@treatmentPhase.Dose</td>
                                                            <td>@treatmentPhase.Fraction</td>
                                                            <td>@treatmentPhase.Target</td>
                                                            <td>@treatmentPhase.Description</td>
                                                            <td>@treatmentPhase.PrescribeDate</td>
                                                            <td>@treatmentPhase.PrescribesdUser</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        امکانات
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left">
                                                                        <a class="dropdown-item" href="Modify/@treatmentPhase.Id">ویرایش</a>
                                                                        <div class="dropdown-divider"></div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                    Index++;
                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

