@model PhysicManagement.Model.TreatmentPhase

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت فاز درمانی جدید";
    }
    else {
        ViewBag.Title = "ویرایش اطلاعات فاز درمانی ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی فاز درمانی</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="UserName" class="bmd-label-floating">شناشه پرونده پزشکی</label>
                                    <input type="text" id="UserName" name="UserName" value="@Model.MedicalRecordId" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Password" class="bmd-label-floating">فار</label>
                                    <input type="text" id="Password" name="Password" value="@Model.PhaseNumber" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FirstName" class="bmd-label-floating">عنوان فاز</label>
                                    <input type="text" id="FirstName" name="FirstName" value="@Model.PhaseText" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="LastName" class="bmd-label-floating">دز</label>
                                    <input type="text" id="LastName" name="LastName" value="@Model.Dose" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Mobile" class="bmd-label-floating">فرکشن/Fraction</label>
                                    <input type="text" id="Mobile" name="Mobile" value="@Model.Fraction" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Code" class="bmd-label-floating">هدف/Target</label>
                                    <input type="text" id="Code" name="Code" value="@Model.Target" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Gender" class="bmd-label-floating">توضیحات</label>
                                    <input type="text" id="Gender" name="Gender" value="@Model.Description" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Degree" class="bmd-label-floating">تاریخ</label>
                                    <input type="text" id="Degree" name="Degree" value="@Model.PrescribeDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ExpertiseMajor" class="bmd-label-floating">کاربر</label>
                                    <input type="text" id="ExpertiseMajor" name="ExpertiseMajor" value="@Model.PrescribesdUser" class="form-control">
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

