@model PhysicManagement.Model.TreatmentPhase

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت فاز درمانی جدید";
    }
    else {
        ViewBag.Title = "ویرایش اطلاعات فاز درمانی ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی فاز درمانی</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="PhaseNumber" class="bmd-label-floating">فار</label>
                                    <input type="number" id="PhaseNumber" name="PhaseNumber" value="@Model.PhaseNumber" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="PhaseText" class="bmd-label-floating">عنوان فاز</label>
                                    <input type="text" id="PhaseText" name="PhaseText" value="@Model.PhaseText" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Dose" class="bmd-label-floating">دز</label>
                                    <input type="text" id="Dose" name="Dose" value="@Model.Dose" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Fraction" class="bmd-label-floating">فرکشن/Fraction</label>
                                    <input type="number" id="Fraction" name="Fraction" value="@Model.Fraction" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Target" class="bmd-label-floating">هدف/Target</label>
                                    <input type="text" id="Target" name="Target" value="@Model.Target" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorPersianDatePicker(model => model.PrescribeDate, "تاریخ")
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Description" class="bmd-label-floating">توضیحات</label>
                                    <textarea id="Description" name="Description" rows="5" value="@Model.Description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

