@model List<PhysicManagement.Model.TreatmentPhase>
@{
    ViewBag.Title = "طراحی درمان";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PhysicManagement.Model.ContourDetails> ContourDetailList = ViewBag.ContourDetailList;
    List<PhysicManagement.Model.CancerOAR> CancerOARList = ViewBag.CancerOARList;
    List<PhysicManagement.Model.CancerTarget> CancerTargetList = ViewBag.CancerTargetList;
}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">طراحی درمان</h4>
            </div>
            <div class="card-body">
                <table dir="ltr" class="table table-hover center table-striped">
                    <thead class="text-warning">
                        <tr>
                            <th>Organ</th><th>Tolerance</th><th>Planned Dose (P1)</th><th>Planned Dose (P2)</th><th>Planned Dose (P3)</th><th>Evaluation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="6" class="bg-green">بافت سالم</td></tr>
                        @{
                            var OARData = ContourDetailList.Where(x => x.CancerOARId != null).ToList();
                            foreach (var oar in OARData)
                            {
                                var OARDetail = CancerOARList.FirstOrDefault(t => t.Id == oar.CancerOARId.Value);
                                <tr class="bg-green-light" data-oar="@oar.CancerOARId" data-cd="@oar.Id">
                                    <td class="left">
                                        <div class="form-group">@OARDetail.OrganTitle</div>
                                    </td>
                                    <td class="left">
                                        <div class="form-group">@OARDetail.Tolerance</div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="1" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="2" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="3" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="eval" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                </tr>
                            }
                        }


                        <tr><td colspan="6" class="bg-red">حجم هدف</td></tr>
                        @{
                            var TargetData = ContourDetailList.Where(x => x.CancerTargetId != null).ToList();
                            foreach (var target in TargetData)
                            {
                                var TargetDetail = CancerTargetList.FirstOrDefault(t => t.Id == target.CancerTargetId.Value);
                                <tr class="bg-red-light" data-target="@target.CancerTargetId" data-cd="@target.Id">
                                    <td class="left"><div class="form-group">@TargetDetail.Title</div></td>
                                    <td class="left"><div class="form-group">@TargetDetail.Optimum</div></td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="1" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="2" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="3" type="text" class="form-control" name="">
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label><input data-phase="eval" type="text" class="form-control" name="">
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td></td>
                            <td>
                                <div class="form-group">تعداد فیلد</div>
                            </td>
                            <td>
                                <div class="form-group bmd-form-group"><label class="bmd-label-floating"></label><input type="text" class="form-control" name=""></div>
                            </td>
                            <td>
                                <div class="form-group bmd-form-group"><label class="bmd-label-floating"></label><input type="text" class="form-control" name=""></div>
                            </td>
                            <td>
                                <div class="form-group bmd-form-group"><label class="bmd-label-floating"></label><input type="text" class="form-control" name=""></div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot class="text-warning">
                        <tr>
                            <th></th>
                            <th>توضیحات فیزیسیست</th>
                            <th>
                                <div class="form-group bmd-form-group"><textarea class="form-control" rows="5"></textarea></div>
                            </th>
                            <th>
                                <div class="form-group bmd-form-group"><textarea class="form-control" rows="5"></textarea></div>
                            </th>
                            <th>
                                <div class="form-group bmd-form-group"><textarea class="form-control" rows="5"></textarea></div>
                            </th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>

                <div class="form-group">
                    <button type="button" onclick="SetData()" class="btn btn-rose">ثبت</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function SetData() {
        var Data = [];
        $('.data>tbody>tr').each(function () {
            debugger;
            $(this).find('input.dose').each(function () {
                var Detail = { phaseId: 0, phaseDetailId: 0, evaluation: '', plannedDose: '', cancerOARId: 0 };
                Detail.phaseId = $(this).attr('data-phaseid');
                Detail.cancerOARId = $(this).attr('data-canceroarid');
                Detail.phaseDetailId = $(this).attr('data-phaseDetailId');
                Detail.plannedDose = $(this).val();
                Detail.evaluation = $('input[data-canceroarid="' + Detail.cancerOARId+'"][data-phaseid="' + Detail.phaseId+'"][data-phaseDetailId="' + Detail.phaseDetailId+'"]').val();
                Data.push(Detail);
            });

        });
        console.log(Data);
        $.post('SetPhaseAsPlanned', { Data: Data, medicalRecordId : @ViewBag.MedicalRecordId }, function (d) {
            window.location = "../../treatmentPhase/List";
        })
    }
</script>
