@model List<PhysicManagement.Model.TreatmentPhase>
@{
    ViewBag.Title = "طراحی درمان";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PhysicManagement.Model.ContourDetails> ContourDetailList = ViewBag.ContourDetailList;
    List<PhysicManagement.Model.CancerOAR> CancerOARList = ViewBag.CancerOARList;
    List<PhysicManagement.Model.CancerTarget> CancerTargetList = ViewBag.CancerTargetList;
    List<PhysicManagement.Model.PhysicTreatmentPlan> physicTreatmentPlans = ViewBag.PhysicTreatmentPlanList;
    List<PhysicManagement.Model.PhysicTreatmentPlanDetail> physicTreatmentPlanDetails = ViewBag.PhysicTreatmentPlanDetailList;
    var medicalRecordId = ViewBag.MedicalRecordId;
    var UserData = ViewBag.UserData;
    var oldPhysicPlans = physicTreatmentPlans.Where(x => x.MedicalRecordId == medicalRecordId).ToList();

    var userP1Name = "";
    var p1Id = -1; 
    var p1 = physicTreatmentPlans.Where(x => x.MedicalRecordId == medicalRecordId && x.PlanNo == 1).FirstOrDefault();
    if (p1 != null)
    {
        userP1Name = p1.PhysicFullName;
        p1Id = p1.Id;
    }

    var userP2Name = "";
    var p2Id = -1;
    var p2 = physicTreatmentPlans.Where(x => x.MedicalRecordId == medicalRecordId && x.PlanNo == 2).FirstOrDefault();
    if (p2 != null)
    {
        userP2Name = p2.PhysicFullName;
        p2Id = p2.Id;
    }

    var userP3Name = "";
    var p3Id = -1;
    var p3 = physicTreatmentPlans.Where(x => x.MedicalRecordId == medicalRecordId && x.PlanNo == 3).FirstOrDefault();
    if (p3 != null)
    {
        userP3Name = p3.PhysicFullName;
        p3Id = p3.Id;
    }
}


<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">طراحی درمان</h4>
            </div>
            <div class="card-body">
                <table dir="ltr" id="physicTbl" class="table table-hover center table-striped">
                    <thead class="text-warning">
                        <tr>
                            <th>Organ</th>
                            <th>Tolerance</th>
                            <th>
                                DVH Parameter (Plan 1)
                                @{
                                    if (!string.IsNullOrEmpty(userP1Name))
                                    {
                                        <br />
                                        @userP1Name
                                    }
                                }
                            </th>
                            <th>
                                DVH Parameter (Plan 2)
                                @{
                                    if (!string.IsNullOrEmpty(userP2Name))
                                    {
                                        <br />
                                        @userP2Name
                                    }
                                }
                            </th>
                            <th>
                                DVH Parameter (Plan 3)
                                @{
                                    if (!string.IsNullOrEmpty(userP3Name))
                                    {
                                        <br />
                                        @userP3Name
                                    }
                                }
                            </th>
                            <th>Evaluation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="6" class="bg-green">بافت سالم</td></tr>
                        @{
                            var OARData = ContourDetailList.Where(x => x.CancerOARId != null).ToList();


                            foreach (var oar in OARData)
                            {
                                var OARDetail = CancerOARList.FirstOrDefault(t => t.Id == oar.CancerOARId.Value);
                                var plannedOARDetail = physicTreatmentPlanDetails.Where(x => x.MedicalRecordId == medicalRecordId && x.CancerOARId != null).ToList();

                                <tr class="bg-green-light oarPart" data-oar="@oar.CancerOARId" data-cd="@oar.Id">
                                    <td class="left">
                                        <div class="form-group">@OARDetail.OrganTitle</div>
                                    </td>
                                    <td class="left">
                                        <div class="form-group">@OARDetail.Tolerance</div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>

                                            @{
                                                string oarP1 = "";
                                                var hasP1 = plannedOARDetail.Where(x => x.PlanNo == 1 && x.CancerOARId == oar.CancerOARId).FirstOrDefault();
                                                if (hasP1 != null)
                                                {
                                                    oarP1 = hasP1.CancerOARIdValue;
                                                }
                                            }
                                            <input data-phase="1" type="text" class="form-control dose" name="" value="@oarP1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            @{
                                                string oarP2 = "";
                                                var hasP2 = plannedOARDetail.Where(x => x.PlanNo == 2 && x.CancerOARId == oar.CancerOARId).FirstOrDefault();
                                                if (hasP2 != null)
                                                {
                                                    oarP2 = hasP2.CancerOARIdValue;
                                                }
                                            }

                                            <input data-phase="2" type="text" class="form-control dose" name="" value="@oarP2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            @{
                                                string oarP3 = "";
                                                var hasP3 = plannedOARDetail.Where(x => x.PlanNo == 3 && x.CancerOARId == oar.CancerOARId).FirstOrDefault();
                                                if (hasP3 != null)
                                                {
                                                    oarP3 = hasP3.CancerOARIdValue;
                                                }
                                            }

                                            <input data-phase="3" type="text" class="form-control dose" name="" value="@oarP3">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            <input data-phase="eval" type="text" class="form-control dose" name="">
                                        </div>
                                    </td>
                                </tr>
                            }


                        }


                        <tr><td colspan="6" class="bg-red">حجم هدف</td></tr>
                        @{
                            var TargetData = ContourDetailList.Where(x => x.CancerTargetId != null).ToList();
                            foreach (var target in TargetData)
                            {
                                var TargetDetail = CancerTargetList.FirstOrDefault(t => t.Id == target.CancerTargetId.Value);
                                var plannedTargetDetail = physicTreatmentPlanDetails.Where(x => x.MedicalRecordId == medicalRecordId && x.CancerTargetId != null).ToList();

                                <tr class="bg-red-light targetPart" data-target="@target.CancerTargetId" data-cd="@target.Id">
                                    <td class="left"><div class="form-group">@TargetDetail.Title</div></td>
                                    <td class="left"><div class="form-group">@TargetDetail.Optimum</div></td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            @{
                                                string targetP1 = "";
                                                var hasP1 = plannedTargetDetail.Where(x => x.PlanNo == 1 && x.CancerTargetId == target.CancerTargetId).FirstOrDefault();
                                                if (hasP1 != null)
                                                {
                                                    targetP1 = hasP1.CancerTargetValue;
                                                }

                                            }
                                            <input data-phase="1" type="text" class="form-control dose1" name="" value="@targetP1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            @{
                                                string targetP2 = "";
                                                var hasP2 = plannedTargetDetail.Where(x => x.PlanNo == 2 && x.CancerTargetId == target.CancerTargetId).FirstOrDefault();
                                                if (hasP2 != null)
                                                {
                                                    targetP2 = hasP2.CancerTargetValue;
                                                }

                                            }
                                            <input data-phase="2" type="text" class="form-control dose1" name="" value="@targetP2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            @{
                                                string targetP3 = "";
                                                var hasP3 = plannedTargetDetail.Where(x => x.PlanNo == 3 && x.CancerTargetId == target.CancerTargetId).FirstOrDefault();
                                                if (hasP3 != null)
                                                {
                                                    targetP3 = hasP3.CancerTargetValue;
                                                }

                                            }
                                            <input data-phase="3" type="text" class="form-control dose1" name="" value="@targetP3">
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating"></label>
                                            <input data-phase="eval" type="text" class="form-control dose1" name="">
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td></td>
                            <td>
                                <div class="form-group">تعداد فیلد</div>
                            </td>
                            <td>
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating"></label>
                                    @{
                                        string filedString = "";
                                        var hasPhysicPlanForP1 = physicTreatmentPlans.Where(x => x.PlanNo == 1 && x.MedicalRecordId == medicalRecordId).FirstOrDefault();
                                        if (hasPhysicPlanForP1 != null)
                                        {
                                            filedString = ((int)hasPhysicPlanForP1.Fields).ToString();
                                        }
                                    }
                                    <input id="p1field" type="text" class="form-control" name="" value="@filedString">
                                </div>
                            </td>
                            <td>
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating"></label>
                                    @{
                                        string filed2String = "";
                                        var hasPhysicPlanForP2 = physicTreatmentPlans.Where(x => x.PlanNo == 2 && x.MedicalRecordId == medicalRecordId).FirstOrDefault();
                                        if (hasPhysicPlanForP2 != null)
                                        {
                                            filed2String = ((int)hasPhysicPlanForP2.Fields).ToString();
                                        }
                                    }
                                    <input id="p2field" type="text" class="form-control" name="" value="@filed2String">
                                </div>
                            </td>
                            <td>
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating"></label>
                                    @{
                                        string filed3String = "";
                                        var hasPhysicPlanForP3 = physicTreatmentPlans.Where(x => x.PlanNo == 3 && x.MedicalRecordId == medicalRecordId).FirstOrDefault();
                                        if (hasPhysicPlanForP3 != null)
                                        {
                                            filed3String = ((int)hasPhysicPlanForP3.Fields).ToString();
                                        }
                                    }
                                    <input id="p3field" type="text" class="form-control" name="" value="@filed3String">
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot class="text-warning">
                        <tr>
                            <th></th>
                            <th>توضیحات فیزیسیست</th>
                            <th>
                                <div class="form-group bmd-form-group">
                                    @{
                                        string Comment1 = "";
                                        var item = physicTreatmentPlans.Where(x => x.PlanNo == 1 && x.MedicalRecordId == medicalRecordId).FirstOrDefault();
                                        if (item != null)
                                        {
                                            Comment1 = item.PhysicComment;
                                        }
                                    }

                                    <textarea id="p1comment" class="form-control" rows="5">
@Comment1
</textarea>
                                </div>
                            </th>
                            <th>
                                <div class="form-group bmd-form-group">
                                    @{
                                        string Comment2 = "";
                                        var item2 = physicTreatmentPlans.Where(x => x.PlanNo == 2 && x.MedicalRecordId == medicalRecordId).FirstOrDefault();
                                        if (item2 != null)
                                        {
                                            Comment2 = item2.PhysicComment;
                                        }
                                    }

                                    <textarea id="p2comment" class="form-control" rows="5">
@Comment2
</textarea>
                                </div>
                            </th>
                            <th>
                                <div class="form-group bmd-form-group">
                                    @{
                                        string Comment3 = "";
                                        var item3 = physicTreatmentPlans.Where(x => x.PlanNo == 3 && x.MedicalRecordId == medicalRecordId).FirstOrDefault();
                                        if (item3 != null)
                                        {
                                            Comment3 = item3.PhysicComment;
                                        }
                                    }
                                    <textarea id="p3comment" class="form-control" rows="5">
@Comment3
</textarea>
                                </div>
                            </th>
                            <th></th>

                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                @{ if (!string.IsNullOrEmpty(userP1Name) && ViewBag.IsDoctor)
                                    {
                                        <button type="button" onclick="sendApprovedDataToServer(@p1.Id)" class="btn btn-rose">تایید پلن شماره ۱</button>
                                    }}

                            </td>
                            <td>
                                @{ if (!string.IsNullOrEmpty(userP2Name) && ViewBag.IsDoctor)
                                    {
                                        <button type="button" onclick="sendApprovedDataToServer(@p2.Id)" class="btn btn-rose">تایید پلن شماره ۲</button>
                                    }}

                            </td>
                            <td>
                                @{ if (!string.IsNullOrEmpty(userP3Name) && ViewBag.IsDoctor)
                                    {
                                        <button type="button" onclick="sendApprovedDataToServer(@p3.Id)" class="btn btn-rose">تایید پلن شماره ۳</button>
                                    }}
                            </td>
                            <td></td>

                        </tr>
                    </tfoot>
                </table>

                <div class="form-group">
                    <button type="button" onclick="SetData()" class="btn btn-rose">ثبت</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    var p1IsOld = false;
    var p2IsOld = false;
    var p3IsOld = false;

    $(document).ready(function () {
        setOldPlanned();

    });


    function setOldPlanned() {
        
        if (@p1Id != -1) {
            p1IsOld = true;
        }

        if (@p2Id != -1) {
            p2IsOld = true;
        }

        if (@p3Id != null) {
            p3IsOld = true;
        }

        //alert(p1IsOld);
    }

    var approvedId = -1;


    function sendApprovedDataToServer(approvedId) {
        alert('تایید با موفقیت انجام شد');
        $.post('SetPhaseAsApprovedByPhysicst', { physicTreatmentPlanId: approvedId }, function (d) {

            window.location = "../../treatmentPhase/ListForPhysicist";
        });
            }


    function SetData() {
        var DataPhase = [];
        var FieldAndComment = [];

        $('#physicTbl>tbody>tr.oarPart').each(function () {

            var contourDetail = $(this).attr('data-cd');
            var oar = $(this).attr('data-oar');
            var Detail = { phaseId: 0, phaseDetailId: 0, evaluation: '', plannedDose: '', cancerOARId: 0, targetOARId: 0 };

            $(this).find('input.dose').each(function () {
                var prop = $(this).attr('data-phase');
               var plannedDose = $(this).val();
                if (prop != null || prop != 0)
                {

                    if (plannedDose.trim().length !== 0 && prop == 1 && p1IsOld == false) {

                        Detail.phaseId = 1;
                        Detail.cancerOARId = oar;
                        Detail.plannedDose = plannedDose;
                        Detail.phaseDetailId = contourDetail;
                        DataPhase.push(Detail);
                        //alert('Phase 1:  ' + Detail.phaseId + ' ' + Detail.cancerOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                    else if (plannedDose.trim().length !== 0 && prop == 2 && p2IsOld == false) {
                        Detail.phaseId = 2;
                        Detail.cancerOARId = oar;
                        Detail.plannedDose = plannedDose;
                        Detail.phaseDetailId = contourDetail;
                        DataPhase.push(Detail);
                        //alert('Phase 2:  ' + Detail.phaseId + ' ' + Detail.cancerOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                    else if (plannedDose.trim().length !== 0 && prop == 3 && p3IsOld == false) {
                        Detail.phaseId = 3;
                        Detail.cancerOARId = oar;
                        Detail.plannedDose = plannedDose;
                        Detail.phaseDetailId = contourDetail;
                        DataPhase.push(Detail);
                        //alert('Phase 3:  ' + Detail.phaseId + ' ' + Detail.cancerOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                    else if (plannedDose.trim().length !== 0 && prop == 'eval') {
                        Detail.phaseId = 3;
                        Detail.cancerOARId = oar;
                        Detail.phaseDetailId = contourDetail;
                        Detail.evaluation = plannedDose;
                        DataPhase.push(Detail);
                        //alert('Eval:  ' + Detail.phaseId + ' ' + Detail.cancerOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }

                }

            });

        });


        $('#physicTbl>tbody>tr.targetPart').each(function () {

            var contourDetail = $(this).attr('data-cd');
            var targetId = $(this).attr('data-target');
            var Detail = { phaseId: 0, phaseDetailId: 0, evaluation: '', plannedDose: '', cancerOARId: 0, targetOARId: 0 };

            //alert('targetPart found ' + targetId  +' countorDetail ' + contourDetail);
            $(this).find('input.dose1').each(function () {

                var prop = $(this).attr('data-phase');
                var plannedDose = $(this).val();

                if (plannedDose.trim().length !== 0) {

                    if (prop == 1 && p1IsOld == false) {

                        Detail.phaseId = 1;
                        Detail.targetOARId = targetId;
                        Detail.plannedDose = plannedDose;
                        Detail.phaseDetailId = contourDetail;
                        DataPhase.push(Detail);
                        //alert('Phase 1:  ' + Detail.phaseId + ' ' + Detail.targetOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                    else if (prop == 2 && p2IsOld == false) {
                        Detail.phaseId = 2;
                        Detail.targetOARId = targetId;
                        Detail.plannedDose = plannedDose;
                        Detail.phaseDetailId = contourDetail;
                        DataPhase.push(Detail);
                        //alert('Phase 2:  ' + Detail.phaseId + ' ' + Detail.targetOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                    else if (prop == 3 && p3IsOld == false) {
                        //console.log('prop '+prop + ' , targetId='+targetId + ', plannedDose='+plannedDose);
                        Detail.phaseId = 3;
                        Detail.targetOARId = targetId;
                        Detail.plannedDose = plannedDose;
                        Detail.phaseDetailId = contourDetail;
                        DataPhase.push(Detail);
                        //alert('Phase 3:  ' + Detail.phaseId + ' ' + Detail.targetOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                    else if (prop == 'eval') {
                        Detail.phaseId = 3;
                        Detail.targetOARId = targetId;
                        Detail.phaseDetailId = contourDetail;
                        Detail.evaluation = plannedDose;
                        DataPhase.push(Detail);
                        //alert('Eval:  ' + Detail.phaseId + ' ' + Detail.targetOARId + ' ' + Detail.phaseDetailId + ' ' + Detail.plannedDose);
                    }
                }
            });

        });

        //Reading p1 Field and Comment

        var p1field = $('#p1field').val();
        if (p1field != null || p1field != '') {
            var fieldAndCommentObj = { field: 0, plan: 0, comment: '' };
            var p1comment = $('#p1comment').val();
            fieldAndCommentObj.field = p1field;
            fieldAndCommentObj.comment = p1comment;
            fieldAndCommentObj.plan = 1;
            FieldAndComment.push(fieldAndCommentObj);
        }

        //Reading p2 Field and Comment

        var p2field = $('#p2field').val();
        if (p2field != null || p1field != '') {
            var fieldAndCommentObj = { field: 0, plan: 0, comment: '' };
            var p2comment = $('#p2comment').val();
            fieldAndCommentObj.field = p2field;
            fieldAndCommentObj.comment = p2comment;
            fieldAndCommentObj.plan = 2;
            FieldAndComment.push(fieldAndCommentObj);
        }

        //Reading p3 Field and Comment
        var p3field = $('#p3field').val();
        if (p3field != null || p1field != '') {
            var fieldAndCommentObj = { field: 0, plan: 0, comment: '' };
            var p3comment = $('#p3comment').val();
            fieldAndCommentObj.field = p3field;
            fieldAndCommentObj.comment = p3comment;
            fieldAndCommentObj.plan = 3;
            FieldAndComment.push(fieldAndCommentObj);
        }

        //alert(DataPhase.length);

        if (DataPhase.length == 0) {
            alert('تغییراتی در اطلاعات داده نشده است');
        }
        else {
$.post('SetPhaseAsPlanned', { Data: DataPhase, FieldCommentData: FieldAndComment ,medicalRecordId: @ViewBag.MedicalRecordId }, function (d) {
            window.location = "../../treatmentPhase/List"
        });
        }


    }


    function setPhase1() {
        $('#oar>tbody>tr').each(function () {

            $(this).find('input.dose').each(function () {
                var prop = $(this).attr('data-phase');
                if (prop == 1) {
                    $(this).attr('disabled', 'disabled');
                }

            });

        });
    }


</script>
