@model List<PhysicManagement.Model.Patient>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">لیست بیمارها</h4>
                    <h3>
                        <a class="btn btn-sm bg-light text-dark" href="Modify">افزودن جدید</a>
                    </h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ردیف</th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>موبایل</th>
                                <th>کد ملی</th>
                                <th>کد یکتا</th>
                                <th>تاریخ ثبت</th>
                                <th>جنسیت</th>
                                <th>استان</th>
                                <th>شهر</th>
                                <th>ادرس</th>
                                <th style="width:50px;">امکانات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int Index = 1;
                                foreach (var patient in Model)
                                {
                                                        <tr>
                                                            <td>@Index</td>
                                                            <td>@patient.FirstName</td>
                                                            <td>@patient.LastName</td>
                                                            <td>@patient.Mobile</td>
                                                            <td>@patient.NationalCode</td>
                                                            <td>@patient.Code</td>
                                                            <td>@Html.DisplayForDateTime(patient.RegisterDate)</td>
                                                            <td>@patient.GenderIsMale</td>
                                                            <td>@patient.Province</td>
                                                            <td>@patient.City</td>
                                                            <td>@patient.Address</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        امکانات
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left">
                                                                        <a class="dropdown-item" href="Modify/@patient.Id">ویرایش</a>
                                                                        <a class="dropdown-item" href="Modify/@patient.Id">حذف</a>
                                                                        <div class="dropdown-divider"></div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                    Index++;
                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

