@model List<PhysicManagement.Model.MedicalRecord>
@{
    ViewBag.Title = "ثبت کانتور";
    int Index = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">@ViewBag.Title</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <form method="get" style="width:100%;padding:10px 30px;">
                            <div class="row gray-bg">
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="FirstName" class="bmd-label-floating">نام بیمار</label>
                                        <input type="text" id="FirstName" name="FirstName" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="LastName" class="bmd-label-floating">نام خانوادگی بیمار</label>
                                        <input type="text" id="LastName" name="LastName" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="NationalCode" class="bmd-label-floating">کد ملی</label>
                                        <input type="text" id="NationalCode" name="NationalCode" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="Mobile" class="bmd-label-floating">موبایل </label>
                                        <input type="text" id="Mobile" name="Mobile" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="SystemCode" class="bmd-label-floating">شماره پرونده سیستم یا همان کد سی‌تی اسکن </label>
                                        <input type="text" id="SystemCode" name="SystemCode" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="Code" class="bmd-label-floating">شناسه بیمار </label>
                                        <input type="text" id="Code" name="Code" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <select name="hasContour" class="form-control">
                                            <option value="" disabled selected>انتخاب وضعیت کانتور پرونده</option>
                                            <option value="">نمایش تمام بیماران</option>
                                            <option value="true">نمایش بیماران با کانتور تایید نشده</option>
                                            <option value="false"> نمایش بیماران بدون کانتور</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-rose pull-left">جستجو</button>
                                    <button type="reset" class="btn btn-info pull-left">پاک کردن فرم</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ردیف</th>
                                <th>نام بیمار</th>
                                <th>نام پزشک</th>
                                <th>کد ملی</th>
                                <th>شناسه بیمار</th>
                                <th>اطلاعات کانتور</th>
                                <th>شماره پرونده سیستم / کد سی‌تی اسکن</th>
                                <th>تاریخ ثبت</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mr in Model)
                            {
                                <tr data-id="@mr.Id">
                                    <td>@Index</td>
                                    <td>@mr.Patient.FirstName @mr.Patient.LastName</td>
                                    <td>@mr.DoctorFirstName @mr.DoctorLastName</td>
                                    <td>@mr.Patient.NationalCode</td>
                                    <td>@mr.Patient.Code</td>
                                    <td>@(mr.Contour.Count==0?"ندارد":"دارد")</td>
                                    <td>@mr.CTCode</td>
                                    <td>@Html.DisplayForDateTime(mr.ReceptionDate)</td>
                                    <td class="text-center">
                                        <button type="button" onclick="openpanel('@mr.Id')" class="btn btn-info pull-left">نوع سرطان و لیست های ارگان ها</button>
                                    </td>
                                </tr>
                                Index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">لیست ارگان ها</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr><th>نام</th><th>نام خانوادگی</th><th>نام پزشک</th><th>تاریخ پذیرش</th><th>تاریخ CT</th><th>شماره پرونده سیستم</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="patientName"></td>
                            <td id="patientLatName"></td>
                            <td id="doctorName"></td>
                            <td id="receptionDate"></td>
                            <td id="ctDate"></td>
                            <td id="systemCode"></td>
                        </tr>
                    </tbody>
                </table>

                <p>سرطان</p>
                <div class="form-group dropdown-toggle">
                    <select class="selectpicker" onchange="loadCancerDetail()" id="cancerId" data-style="btn btn-primary btn-round" title="">
                        <option disabled="" selected="">نوع سرطان را انتخاب کنید</option>
                        @foreach (PhysicManagement.Model.Cancer item in ViewBag.CancerList)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>

                <table class="table table-hover small">
                    <thead class="text-warning"><tr><th class="bg-red">حجم هدف</th><th class="bg-green">بافت سالم</th></tr></thead>
                    <tbody id="cancerData">
                    </tbody>
                </table>
                <div class="form-group doctor_desc">
                    <textarea placeholder="توضیحات پزشک" readonly class="form-control" rows="5" id="des"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">بستن</button>
                <button type="button" onclick="setCancerData()" class="btn btn-rose">ثبت</button>
            </div>
        </div>
    </div>
</div>

<script>
    var med_id = null;
    function openpanel(id) {
        med_id = id;
        $('#patientName,#patientLatName,#doctorName,#receptionDate,#ctDate,#systemCode').val('');
        $.getJSON('../MedicalRecord/GetMedicalRecordData', { medicalRecordId: id }, function (d) {
            $('#patientName').html(d.PatientFirstName);
            $('#patientLatName').html(d.PatientLastName);
            $('#doctorName').html(d.DoctorName);
            $('#receptionDate').html(d.ReceptionDate);
            $('#ctDate').html(d.CTDate);
            $('#systemCode').html(d.SystemCode);
            $('#cancerId').val(d.CancerId).trigger('change');
            $('#cancerData').empty();
            debugger;
            if (d.Contour == null) {
                $('.doctor_desc').hide();
            }
            else {
                $('#des').val(d.Contour.Description);

            }
            $('#exampleModal').modal('show');
        });
    }
    function loadCancerDetail() {

        $('#cancerData').empty();
        var id = $('#cancerId').val();
        if (id == undefined || id == null || id == '') {
            return;
        }
        var name = $('#cancerId option:selected').text();
        $.getJSON(
            '../../../Cancer/GetCancerOARAndTargets',
            { cancerId: id },
            function (j) {
                var oars = j.OARs;
                var targets = j.Targets;
                var max = oars.length > targets.length ? oars.length : targets.length;
                for (var i = 0; i < max; i++) {
                    var oar = '';
                    if (oars != null && oars[i] != undefined) {
                        oar =
                            `<div class="col-md-2" style="padding: 20px 0 0 0;margin: 0;">
                                <div class="togglebutton"><label><input id="ora_check_` + oars[i].Id + `" type="checkbox"><span class="toggle"></span></label></div>
                                </div>
                                <div class="col-md-4" style="padding: 20px 0 0 0;">`+ oars[i].OrganTitle + `</div>
                                <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label id="target_` + oars[i].Id + `" class="bmd-label-floating"></label>
                                    <input type="text" data-oar-id='`+ oars[i].Id + `' id="ora_desc_` + oars[i].Id + `" class="form-control"/>
                                </div>
                            </div>`;
                    }
                    var target = '';
                    if (targets != null && targets[i] != undefined) {
                        target =
                            `<div class="col-md-2" style="padding: 20px 0 0 0;margin: 0;">
                                <div class="togglebutton">
                                    <label>
                                        <input id="target_check_` + oars[i].Id + `" type="checkbox">
                                        <span class="toggle"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding: 20px 0 0 0;">`+ targets[i].Title + `</div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating" for="target_` + oars[i].Id + `" ></label>
                                    <input data-target-id='`+ oars[i].Id + `' id="target_` + oars[i].Id + `" type="text" class="form-control">
                                </div>
                         </div>`;
                    }
                    var tmp =
                        `<tr data-row='` + i + `'>
                        <td style="width:50%" class="oar"><div class="row">`+ oar + `</div></td>
                        <td style="width:50%" class="target"><div class="row">`+ target + `</div></td>
                    </tr>`;
                    $(tmp).appendTo('#cancerData');
                }
                setTimeout(function () { loadContourDetailData(med_id); }, 150);

            }
        );
    }
    function setCancerData() {
        var Data = { CancerId: 0, Description: $('#des').val(), MedicalRecordId: med_id, oars: [], targets: [] };
        var cancerId = $('#cancerId').val();
        if (cancerId == '') {
            alert('لطفا یکی از انواع سرطان را انتخاب کنید.');
            return;
        }
        else {
            Data.CancerId = cancerId;
            $('tr[data-row]').each(function () {
                var oarSection = $(this).find('td.oar');
                var targetSection = $(this).find('td.target');
                var check_ora = oarSection.find('input[type="checkbox"]').is(':checked');
                var desc_ora = oarSection.find('input[data-oar-id]').val();
                var id_oar = oarSection.find('input[data-oar-id]').attr('data-oar-id');
                if (!(id_oar === undefined || id_oar === 'undefined')) {
                    Data.oars.push({ id: id_oar, value: check_ora, note: desc_ora });
                }

                var check_target = targetSection.find('input[type="checkbox"]').is(':checked');
                var desc_target = targetSection.find('input[data-target-id]').val();
                var id_target = targetSection.find('input[data-target-id]').attr('data-target-id');
                if (!(id_target === undefined || id_target === 'undefined')) {
                    Data.targets.push({ id: id_target, value: check_target, note: desc_target });
                }
            });
            console.log(Data);
            $.post('../Contour/SetCountorForMediacalRecord', { data: Data }, function (d) {
                $('tr[data-id="' + med_id + '"]').fadeOut(200);
                $('#exampleModal').modal('hide');
                alert('اطلاعات کانتور ثبت شد و برای تائید به دکتر ارسال گردید.');
            });
        }
    }
    function loadContourDetailData(mdId) {
        $.getJSON('../MedicalRecord/GetMedicalRecordData', { medicalRecordId: mdId }, function (d) {
            if (d.ContourDetail !== undefined) {
                if (d.ContourDetail.length > 0) {
                    for (var i = 0; i < d.ContourDetail.length; i++) {
                        if (d.ContourDetail[i].CancerOARId != null) {
                            $('#ora_check_' + d.ContourDetail[i].CancerOARId).attr('checked', 'checked');
                            $('#ora_desc_' + d.ContourDetail[i].CancerOARId).val(d.ContourDetail[i].Description);
                        }
                        if (d.ContourDetail[i].CancerTargetId != null) {
                            $('#target_check_' + d.ContourDetail[i].CancerTargetId).attr('checked', 'checked');
                            $('#target_desc_' + d.ContourDetail[i].CancerTargetId).val(d.ContourDetail[i].Description);
                        }
                    }
                }
            }
        });
    }
</script>