@model  PhysicManagement.Logic.ViewModels.PagedList<PhysicManagement.Model.MedicalRecord>
@{
    ViewBag.Title = "لیست بیماران پذیرش شده بدون اطلاعات تصویربرداری";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">@ViewBag.Title</h4>
                </div>
                <div class="row">
                    <form method="get" style="width:100%;padding:10px 30px;" action="PatientWithNoCTScanOrMRI">
                        <div class="row  gray-bg">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FirstName" class="bmd-label-floating">نام بیمار</label>
                                    <input type="text" id="FirstName" name="FirstName" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="LastName" class="bmd-label-floating">نام خانوادگی بیمار</label>
                                    <input type="text" id="LastName" name="LastName" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="NationalCode" class="bmd-label-floating">کد ملی</label>
                                    <input type="text" id="NationalCode" name="NationalCode" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Mobile" class="bmd-label-floating">موبایل </label>
                                    <input type="text" id="Mobile" name="Mobile" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SystemCode" class="bmd-label-floating">شماره پرونده </label>
                                    <input type="text" id="SystemCode" name="SystemCode" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Code" class="bmd-label-floating">شناسه بیمار </label>
                                    <input type="text" id="Code" name="Code" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-left">جستجو</button>
                        <button type="reset" class="btn btn-info pull-left">پاک کردن فرم</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ردیف</th>
                                <th>نام بیمار</th>
                                <th> شماره موبایل</th>
                                <th>کد ملی</th>
                                <th>نام پزشک</th>
                                <th>شناسه بیمار</th>
                                <th>شماره پرونده</th>
                                <th>تاریخ پذیرش</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int Index = 1;
                            }
                            @foreach (var medicalRecord in Model.Records)
                            {
                                <tr data-id="@medicalRecord.Id">
                                    <td>@Index</td>
                                    <td>@medicalRecord.Patient.FirstName @medicalRecord.Patient.LastName</td>
                                    <td>@medicalRecord.Patient.Mobile</td>
                                    <td>@medicalRecord.Patient.NationalCode</td>
                                    <td>@medicalRecord.DoctorFirstName @medicalRecord.DoctorLastName</td>
                                    <td>@medicalRecord.Patient.Code</td>
                                    <td>@medicalRecord.SystemCode</td>
                                    <td>@Html.DisplayForDateTime(medicalRecord.ReceptionDate)</td>
                                    <td class="text-center">
                                        <button type="submit" onclick="LoadPatientData(@medicalRecord.Id)" class="btn btn-info">ثبت اطلاعات تصویربرداری</button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <div class="row">
                        @{
                            int PageSize = (int)(ViewBag.PageSize);
                            int TotalRecords = (int)(ViewBag.TotalRecords);

                        }
                        @Html.Pagger(TotalRecords, PageSize)
                    </div>
                </div>
            </div>
            <script>
                function LoadPatientData(id) {
                    $.getJSON('PatientInfoByMedicalRecordId', { medicalRecordId: id }, function (d) {
                        $('#setCTMRI').modal('show');
                        $('.modal [name="FirstName"]').val(d.Data.FirstName);
                        $('.modal [name="LastName"]').val(d.Data.LastName);
                        $('.modal [name="SystemCode"]').val(d.Data.SystemCode);
                        $('.modal [name="CTCode"]').val(d.Data.CTCode);
                        $('.modal [name="MRICode"]').val(d.Data.MRICode);
                        $('.modal [name="CTDescription"]').val(d.Data.CTDescription);
                        $('.modal [name="medicalRecordId"]').val(d.Data.MedicalRecordId);
                        $('.modal [name="PatientId"]').val(d.Data.PatientId);
                        setTimeout(function () { $('[name="CTCode"]').focus(); }, 2000);
                    });
                }
                function setData() {

                    var cTScanCode = $('[name="CTCode"]').val();
                    var cTScanDescription = $('[name="CTDescription"]').val();
                    var mRICode = $('[name="MRICode"]').val();
                    if (cTScanCode == '') {
                        $('[name="CTCode"]').focus();
                        return;
                    }
                    if (mRICode == '') {
                        $('[name="MRICode"]').focus();
                        return;
                    }
                    if (cTScanDescription == '') {
                        $('[name="CTDescription"]').focus();
                        return;
                    }
                    var mId = $('[name="medicalRecordId"]').val();
                    $.post('SetCTAndMIRDataForMedicalRecord', { medicalRecordId: mId, cTScanCode: cTScanCode, cTScanDescription: cTScanDescription, mRICode: mRICode }, function (d) {
                        $('tr[data-id="' + mId + '"]').fadeOut(500, function () { $(this).remove() });
                        $('#setCTMRI').modal('hide');
                        scrollTop();
                        alert('ثبت اطلاعات با موفقیت انجام شد.');
                    });
                }
            </script>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="setCTMRI" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ثبت اطلاعات تصویربرداری بیمار</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormValidation">
                    <input type="hidden" name="medicalRecordId" />
                    <input type="hidden" name="PatientId" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">نام</label>
                                <input type="text" class="form-control" name="FirstName" disabled="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">نام خانوادگی</label>
                                <input type="text" class="form-control" name="LastName" disabled="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">شماره پرونده</label>
                                <input type="text" class="form-control" name="SystemCode" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating"> * کد CT</label>
                                <input type="text" class="form-control" name="CTCode" required="true" aria-required="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating"> * کد MRI</label>
                                <input type="text" class="form-control" name="MRICode" required aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>توضیحات</label>
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">لطفا توضیحات مربوط به تصویربرداری را وارد نمایید</label>
                                    <textarea class="form-control" name="CTDescription" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="button" onclick="setData()" class="btn btn-rose pull-right">ثبت</button>
            </div>
        </div>
    </div>
</div>