@model PhysicManagement.Model.MedicalRecord
@{
    ViewBag.Title = "انتخاب تعداد فازهای درمان";
    PhysicManagement.Model.Patient PatientData = ViewBag.PatientData;
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">

                        <form id="FormValidation" method="post" novalidate="novalidate">
                            <input type="hidden" value="@Request["medicalRecordId"]" name="medicalRecordId" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">نام بیمار</label>
                                        <input type="text" class="form-control" value="@PatientData.FirstName @PatientData.LastName" name="FistName" disabled="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">نام پزشک</label>
                                        <input type="text" class="form-control" value="@Model.DoctorFirstName @Model.DoctorLastName" name="SystemCode" disabled="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">شناسه بیمار</label>
                                        <input type="text" class="form-control" value="@PatientData.Code" name="Code" disabled="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">شناسه پرونده</label>
                                        <input type="text" class="form-control" value="@Model.SystemCode" name="SystemCode" disabled="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">نوع سرطان</label>
                                        <input type="text" class="form-control" value="@Model.CancerTitle" name="SystemCode" disabled="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">تاریخ تائید کانتور</label>
                                        <input type="text" class="form-control" value="@Html.DisplayForDateTime(Model.ContourAcceptDate)" name="SystemCode" disabled="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group dropdown-toggle">
                                        <select class="selectpicker valid" name="Phases" data-style="btn btn-primary btn-round" title="" required aria-invalid="false">
                                            <option disabled="" selected="">تعداد فاز های درمان</option>
                                            <option value="1">1 فاز</option>
                                            <option value="2">2 فاز</option>
                                            <option value="3">3 فاز</option>
                                            <option value="4">4 فاز</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-rose pull-right">ثبت</button>
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>