@model PhysicManagement.Model.PhysicTreatmentPlanHostory

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت اطلاعات تاریخ درمان فیزیکی جدید";
    }
    else {
        ViewBag.Title = "ویرایش اطلاعات تاریغ درمان فیزیکی ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی اطلاعات  تاریخ درمان فیزیکی </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Note" class="bmd-label-floating">یادداشت</label>
                                    <textarea id="Note" name="Note" rows="2" value="@Model.Note" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ChangeDate" class="bmd-label-floating">تغییر تاریخ</label>
                                    <input type="text" id="ChangeDate" name="ChangeDate" value="@Model.ChangeDate" class="form-control" date-picker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="HasAlarm" class="bmd-label-floating">دارای هشدار است</label>
                                    <input type="checkbox" id="HasAlarm" name="HasAlarm" value="@Model.HasAlarm" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="IsDoctor" class="bmd-label-floating">دکتر است</label>
                                    <input type="checkbox" id="IsDoctor" name="IsDoctor" value="@Model.IsDoctor" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

