@model IEnumerable<PhysicManagement.Model.AlarmConfig>

@{
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">لیست پیکربندی هشدار</h4>
                <h3>
                    <a class="btn btn-sm bg-light text-dark" href="Modify">افزودن جدید</a>
                </h3>
            </div>
            <div class="card-body table-responsive">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-warning">
                        <p>@TempData["Error"]</p>
                    </div>
                }
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>ردیف</th>
                            <th>پیام ادمین</th>
                            <th>پیام دکتر</th>
                            <th>پیام فیزیست</th>
                            <th>پیام رزیدنت</th>
                            <th>پیام کل</th>
                            <th>آخرین کاربر اصلاح شده</th>
                            <th>تاریخ آخرین تغییر</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Index = 1;
                            foreach (var alarmConfig in Model)
                            {
                                <tr>
                                    <td>@Index</td>
                                    <td>@alarmConfig.SendAdminSMS</td>
                                    <td>@alarmConfig.SendDoctorSMS</td>
                                    <td>@alarmConfig.SendPhysictSMS</td>
                                    <td>@alarmConfig.SendResidentSMS</td>
                                    <td>@alarmConfig.SendAggregateSMS</td>
                                    <td>@alarmConfig.LastModifiedUser</td>
                                    <td>@alarmConfig.LastModifiedDate</td>
                                </tr>
                                Index++;
                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
