@model IEnumerable<PhysicManagement.Model.TreatmentCategory>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">لیست دستبندی درمان</h4>
                <h3>
                    <a class="btn btn-sm bg-light text-dark" href="Modify">افزودن جدید</a>
                </h3>
            </div>
            <div class="row">
                <form method="get" style="width:100%;padding:10px 30px;" action="List">
                    <div class="row  gray-bg">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Title" class="bmd-label-floating"> عنوان</label>
                                <input type="text" id="Title" name="Title" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Subset" class="bmd-label-floating"> تعداد زیر مجموعه</label>
                                <input type="text" id="Subset" name="Subset" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-rose pull-left">جستجو</button>
                    <button type="reset" class="btn btn-info pull-left">پاک کردن فرم</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="card-body table-responsive">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-warning">
                        <p>@TempData["Error"]</p>
                    </div>
                }
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>ردیف</th>
                            <th>عنوان  </th>
                            <th>توضیحات </th>
                            <th>تعداد زیرمجوعه</th>
                            <th style="width:50px;">امکانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Index = 1;
                            foreach (var TreatmentCategory in Model)
                            {
                                <tr>
                                    <td>@Index</td>
                                    <td>@TreatmentCategory.Title</td>
                                    <td>@TreatmentCategory.Description</td>
                                    <td>@TreatmentCategory.TreatmentCategoryService.Count</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                امکانات
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <a class="dropdown-item" href="@Url.Action("List","TreatmentCategoryService",new { @id = @TreatmentCategory.Id})">کدهای درمان</a>
                                                <a class="dropdown-item" href="@Url.Action("Modify","TreatmentCategory",new { @id = @TreatmentCategory.Id})">ویرایش</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" data-toggle="modal" data-target="#DeleteModal" onclick="DeleteEntity('حذف','@Url.Action("Delete","TreatmentCategory", new { id = TreatmentCategory.Id })')">حذف</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                Index++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

