
@{
    ViewBag.Title = "Dashboard";

    PhysicManagement.Logic.ViewModels.DaysStatisticsVM PatientsStatistics = ViewBag.PatientsStatistics;
    PhysicManagement.Logic.ViewModels.DaysStatisticsVM ContourStatistics = ViewBag.ContoursStatistics;
    PhysicManagement.Logic.ViewModels.DaysStatisticsVM CTCodesStatistics = ViewBag.CTCodesStatistics;
    PhysicManagement.Logic.ViewModels.DaysStatisticsVM TreatmentPlansStatistics = ViewBag.TreatmentPlansStatistics;
    PhysicManagement.Logic.ViewModels.DaysStatisticsVM PatientReceptionStatistics = ViewBag.PatientReceptionStatistics;
    PhysicManagement.Logic.ViewModels.DaysStatisticsVM ConformContourStatistics = ViewBag.ConformContourStatistics;
}

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    @*<a style="color:#fff;" title="ثبت بیمار جدید" href="@Url.Action("RegisterPatient","Patient")" class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </a>*@
                    <div class="card-icon">
                        <div class="bg-icons bg-icon_01"></div>
                    </div>
                    <p class="card-category">پذیرش بیمار</p>
                    <h3 class="card-title">
                        @PatientsStatistics.TotalRecords
                        <small>نفر</small>
                    </h3>
                    <div class="row pt-2">
                        <div class="col-9">
                            <p class="card-category">تعداد بیمار های امروز</p>
                        </div>
                        <div class="col-3 text-left">
                            <p class="card-category"> @PatientsStatistics.Today نفر</p>
                        </div>
                        <div class="col-9">
                            <p class="card-category">تعداد بیمار ها طی هفته جاری</p>
                        </div>
                        <div class="col-3 text-left">
                            <p class="card-category"> @PatientsStatistics.LastWeek نفر</p>
                        </div>
                        <div class="col-9">
                            <p class="card-category">تعداد بیمار ها طی ماه جاری</p>
                        </div>
                        <div class="col-3 text-left">
                            <p class="card-category"> @PatientsStatistics.LastMonth نفر</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer ltr">
                    <a href="@Url.Action("RegisterPatient","Patient")" class="btn btn-info">ثبت بیمار</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    @*<a style="color:#fff;" title="ثبت تصویر برداری" href="@Url.Action("PatientWithNoCTScanOrMRI","Patient")" class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </a>*@
                    <div class="card-icon">
                        <div class="bg-icons bg-icon_02"></div>
                    </div>
                        <p class="card-category">در انتظار تصویربرداری</p>
                        <h3 class="card-title">
                            @CTCodesStatistics.UnsetRecord
                            <small>نفر</small>
                        </h3>
                        <div class="row pt-2">
                            <div class="col-9">
                                <p class="card-category">تعداد ثبت امروز</p>
                            </div>
                            <div class="col-3 text-left">
                                <p class="card-category">@CTCodesStatistics.Today نفر</p>
                            </div>
                            <div class="col-9">
                                <p class="card-category">تعداد ثبت هفته گذشته</p>
                            </div>
                            <div class="col-3 text-left">
                                <p class="card-category">@CTCodesStatistics.LastWeek نفر</p>
                            </div>
                            <div class="col-9">
                                <p class="card-category">تعداد ثبت ماه گذشته</p>
                            </div>
                            <div class="col-3 text-left">
                                <p class="card-category">@CTCodesStatistics.LastMonth نفر</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ltr">
                        <a href="@Url.Action("PatientWithNoCTScanOrMRI","Patient")" class="btn btn-info">ثبت تصویر برداری </a>
                    </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-rose card-header-icon">
                    @*<a style="color:#fff;" title="ثبت انتخاب نرم افزار طراحی درمان" href="@Url.Action("PatientWithNoThreatmentPlan","Patient")" class="card-icon">
            <i class="material-icons">content_copy</i>
        </a>*@
                    <div class="card-icon">
                        <div class="bg-icons bg-icon_03"></div>
                    </div>
                    <p class="card-category">در انتظار انتخاب نرم افزار طراحی درمان</p>
                    <h3 class="card-title">
                        @TreatmentPlansStatistics.UnsetRecord
                        <small>نفر</small>
                    </h3>
                    <div class="row pt-2">
                        <div class="col-9">
                            <p class="card-category">تعداد بیمار های امروز</p>
                        </div>
                        <div class="col-3 text-left">
                            <p class="card-category">@TreatmentPlansStatistics.Today نفر</p>
                        </div>
                        <div class="col-9">
                            <p class="card-category">تعداد بیمار ها طی هفته جاری</p>
                        </div>
                        <div class="col-3 text-left">
                            <p class="card-category">@TreatmentPlansStatistics.LastWeek نفر</p>
                        </div>
                        <div class="col-9">
                            <p class="card-category">تعداد بیمار ها طی ماه جاری</p>
                        </div>
                        <div class="col-3 text-left">
                            <p class="card-category">@TreatmentPlansStatistics.LastMonth نفر</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer ltr">
                    <a href="@Url.Action("PatientWithNoThreatmentPlan","Patient")" class="btn btn-info">ثبت انتخاب نرم افزار طراحی درمان</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    @*<a style="color:#fff;" title="ثبت کانتور" href="@Url.Action("ListOfUnsetCountorsForCases","Patient",new { hasContour=false})" class="card-icon">
            <i class="material-icons">content_copy</i>
        </a>*@
                    <div class="card-icon">
                        <div class="bg-icons bg-icon_04"></div>
                    </div>
                    <p class="card-category">در انتظار ثبت کانتور</p>
                    <h3 class="card-title">
                        @ContourStatistics.UnsetRecord
                        <small>نفر</small>
                    </h3>
                    <div class="row pt-2">
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار های امروز</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">@ContourStatistics.Today نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی هفته جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">@ContourStatistics.LastWeek نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی ماه جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">@ContourStatistics.LastMonth نفر</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer ltr">
                    <a href="@Url.Action("ListOfUnsetCountorsForCases","Patient",new { hasContour=false})" class="btn btn-info">ثبت کانتور</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    @*<a style="color:#fff;" title="تایید کانتور" href="@Url.Action("ContourApprove","Contour")" class="card-icon">
            <i class="material-icons">content_copy</i>
        </a>*@
                    <div class="card-icon">
                        <div class="bg-icons bg-icon_05"></div>
                    </div>
                    <p class="card-category">در انتظار تایید کانتور</p>
                    <h3 class="card-title">
                        @ConformContourStatistics.UnsetRecord
                        <small>نفر</small>
                    </h3>
                    <div class="row pt-2">
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار های امروز</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">@ConformContourStatistics.Today نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی هفته جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">@ConformContourStatistics.LastWeek نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی ماه جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">@ConformContourStatistics.LastMonth نفر</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer ltr">
                    <a href="@Url.Action("ContourApprove","Contour")" class="btn btn-info">تایید کانتور</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    @*<a style="color:#fff;" title="ثبت تجویز درمان" href="@Url.Action("","")" class="card-icon">
            <i class="material-icons">content_copy</i>
        </a>*@
                    <div class="card-icon">
                        <div class="bg-icons bg-icon_06"></div>
                    </div>
                    <p class="card-category">تجویز درمان</p>
                    <h3 class="card-title">
                        10
                        <small>نفر</small>
                    </h3>
                    <div class="row pt-2">
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار های امروز</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">7 نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی هفته جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">12 نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی ماه جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">52 نفر</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer ltr">
                    <a href="#" class="btn btn-info">ثبت تجویز درمان</a>
                </div>
            </div>
        </div>
        @*<div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">پلن فیزیک</p>
                    <h3 class="card-title">
                        12
                        <small>نفر</small>
                    </h3>
                    <div class="row pt-2">
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار های امروز</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">7 نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی هفته جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">12 نفر</p>
                        </div>
                        <div class="col-8">
                            <p class="card-category">تعداد بیمار ها طی ماه جاری</p>
                        </div>
                        <div class="col-4 text-left">
                            <p class="card-category">52 نفر</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer ltr">
                    <a href="#" class="btn btn-info">ثبت پلن فیزیک</a>
                </div>
            </div>
        </div>*@



    </div>
<div class="row">
    @*<div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">پذیرش بیمار</h4>
                <p class="card-category">
                    @if (PatientReceptionStatistics.Today > 0)
                    {
                        <span class="text-success">

                            <i class="fa fa-long-arrow-up"></i> @PatientReceptionStatistics.Today.ToString("#.#")%
                        </span><text>آمار رشد امروز</text>
                    }
                    else if (PatientReceptionStatistics.Today < 0)
                    {
                        <span class="text-danger">
                            <i class="fa fa-long-arrow-down"></i> @PatientReceptionStatistics.Today.ToString("#.#")%
                        </span>
                        <text>آمار رشد امروز</text>
                    }
                    else
                    {
                        <span class="text-warning">
                            محسابه نشده
                        </span>
                        <text>آمار رشد امروز</text>
                    }
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> ۴ دقیقه پیش
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">ترخیص بیمار</h4>
                <p class="card-category">طبق آخرین آمار بیمارستان</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> کمپین دو روز پیش ارسال شد
                </div>
            </div>
        </div>
    </div>*@
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-danger">
                <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">هشدار ها</h4>
                <p class="card-category">طبق آخرین آمار بیمارستان</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> تا تاریخ 21 مرداد ماه سال 1398
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">کارتابل</h4>
                <p class="card-category">
                    <i class="material-icons">date_range</i> تا تاریخ 21 مرداد ماه سال 1398
                </p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>پزشک معالج</th>
                    <th>اقدام مورد نیاز</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>احمد</td>
                            <td>حسینی</td>
                            <td>دکتر یوسف مرادی</td>
                            <td>در حال تصویر برداری می باشد</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>مینا</td>
                            <td>رضایی</td>
                            <td>دکتر پوریا کدخدایی</td>
                            <td>بیمار مرخص شده است.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>مبینا</td>
                            <td>احمدپور</td>
                            <td>دکتر احمدی نژاد</td>
                            <td>آماده برای جراحی</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>جلال</td>
                            <td>آقایی</td>
                            <td>دکتر سیروس مقدم</td>
                            <td>در بخش ICU بستری می باشد.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

