@model IEnumerable<PhysicManagement.Model.Alarm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">لیست هشدارها</h4>                
                <h3>
                    <a class="btn btn-sm bg-light text-dark"  href="Modify">افزودن جدید</a>
                </h3>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>ردیف</th>
                            <th> نوع هشدار</th>
                            <th> کاربر ایجاد کننده</th>
                            <th>عنوان فاز درمان</th>
                            <th>کاربر تایید کننده</th>
                            <th>متن نظر</th>
                            <th style="width:50px;">امکانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Index = 1;
                            foreach (var alarm in Model)
                            {
                                                <tr>
                                                    <td>@Index</td>
                                                    <td>@alarm.AlarmTypeTitle</td>
                                                    <td>@alarm.GenerateUser</td>
                                                    <td>@alarm.GenerateTreatmentPhaseTitle</td>
                                                    <td>@alarm.ReviewUserName</td>
                                                    <td>@alarm.ReviewText</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                امکانات
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                <a class="dropdown-item" href="Modify/@alarm.Id">ویرایش</a>
                                                                <a class="dropdown-item" href="Modify/@alarm.Id">حذف</a>
                                                                <div class="dropdown-divider"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                Index++;
                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>