@model PhysicManagement.Model.Alarm

@{
    if(Model.Id == 0)
    {
        ViewBag.Title = "ثبت هشدار جدید";
    }
    else
    {
        ViewBag.Title = "ویرایش اطلاعات هشدار";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی هشدار</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="AlarmTypeId" class="bmd-label-floating">نوع هشدار </label>
                                    @Html.DropDownList("AlarmTypeId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="GenerateTreatmentPhaseId" class="bmd-label-floating">تولید فاز درمانی </label>
                                    @Html.DropDownList("GenerateTreatmentPhaseId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ReviewUserName" class="bmd-label-floating">کاربر تایید کننده </label>
                                    <input type="text" id="ReviewUserName" name="ReviewUserName" value="@Model.ReviewUserName" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="GenerateUser" class="bmd-label-floating">کاربر ایجاد کننده </label>
                                    <input type="text" id="GenerateUser" name="GenerateUser" value="@Model.GenerateUser" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ReviewText" class="bmd-label-floating">متن نظر</label>
                                    <input type="text" id="ReviewText" name="ReviewText" value="@Model.ReviewText" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorPersianDatePicker(model => model.GenerateDate, "تولید تاریخ")
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label for="ReviewDate" class="bmd-label-floating">نظر تاریخ</label>
                <input type="text" id="ReviewDate" name="ReviewDate" value="@Model.ReviewDate" class="form-control date-picker">*@
                                    @Html.EditorPersianDatePicker(model => model.ReviewDate, "تاریخ نظر")
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

