@model PhysicManagement.Model.Alarm

@{
    if(Model.Id == 0)
    {
        ViewBag.Title = "ثبت هشدار جدید";
    }
    else
    {
        ViewBag.Title = "ویرایش اطلاعات هشدار";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی هشدار</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="UserName" class="bmd-label-floating">نوع هشدار</label>
                                    <input type="text" id="UserName" name="UserName" value="@Model.AlarmTypeTitle" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Password" class="bmd-label-floating">عنوان فاز درمان</label>
                                    <input type="text" id="Password" name="Password" value="@Model.GenerateTreatmentPhaseTitle" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FirstName" class="bmd-label-floating">کاربر ایجاد کننده</label>
                                    <input type="text" id="FirstName" name="FirstName" value="@Model.GenerateUser" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="LastName" class="bmd-label-floating">کاربر تایید کننده </label>
                                    <input type="text" id="LastName" name="LastName" value="@Model.ReviewUserName" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Mobile" class="bmd-label-floating">متن نظر</label>
                                    <input type="text" id="Mobile" name="Mobile" value="@Model.ReviewText" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Code" class="bmd-label-floating">تولید تاریخ</label>
                                    <input type="text" id="Code" name="Code" value="@Model.GenerateDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Gender" class="bmd-label-floating">نظر تاریخ</label>
                                    <input type="text" id="Gender" name="Gender" value="@Model.ReviewDate" class="form-control">
                                </div>
                            </div>                                                        
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

