@model List<PhysicManagement.Model.AlarmConfig>

@{
    ViewBag.Title = "تنظیمات ارسال پیامک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">تنظیمات</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover togglebutton_margin" id="AlarmConfig">
                            <thead class="text-warning">
                                <tr>
                                    <th>شناسه</th>
                                    <th>لیست رویداد ها</th>
                                    <th>پزشک</th>
                                    <th>رزیدنت</th>
                                    <th>فیزیست</th>
                                    <th>کاربر/ادمین</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.AlarmEventTypeId</td>
                                            <td>
                                               @{ 
                                                   string stringValue = Enum.GetName(typeof(PhysicManagement.Logic.Enums.AlarmEventType), item.AlarmEventTypeId);
                                               }
                                                @stringValue
                                            </td>
                                            <td class="doctor">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input type="checkbox" AlarmEventTypeId="@item.AlarmEventTypeId" checked="@item.SendDoctorSMS" />
                                                        <span class="toggle"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="resident">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input type="checkbox" AlarmEventTypeId="@item.AlarmEventTypeId" checked="@item.SendDoctorSMS">
                                                        <span class="toggle"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="physist">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input type="checkbox" AlarmEventTypeId="@item.AlarmEventTypeId" checked="@item.SendDoctorSMS">
                                                        <span class="toggle"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="admin">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input type="checkbox" AlarmEventTypeId="@item.AlarmEventTypeId">
                                                        <span class="toggle"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button id="btnDoctor" type="button" class="btn btn-info">تایید پزشک ها</button>
                                    </td>
                                    <td>
                                        <button type="button" id="btnResident" class="btn btn-info">تایید رزیدنت ها</button>
                                    </td>
                                    <td>
                                        <button type="button" id="btnPhysist" class="btn btn-info pull-left">تایید فیزیست ها</button>
                                    </td>
                                    <td>
                                        <button type="button" id="btnAdmin" class="btn btn-info pull-left">تایید ادمین </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        $('#btnDoctor').click(function () {
            var doctorArray = new Array();
            $("#AlarmConfig tbody tr td.doctor input[type=checkbox]:checked").each(function () {
                //alert($(this).attr('AlarmEventTypeId'));
                doctorArray.push($(this).attr('AlarmEventTypeId'));
            });

            $.ajax({
                type: "POST",
                url: "/Alarm/DoctorSMSConfig",
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(doctorArray),
                traditional: true
            });
            alert('بروزرسانی با موفقیت انجام شد');

        });

        $('#btnResident').click(function () {
            var residentArray = new Array();
            $("#AlarmConfig tbody tr td.resident input[type=checkbox]:checked").each(function () {
                //alert($(this).attr('AlarmEventTypeId'));
                residentArray.push($(this).attr('AlarmEventTypeId'));
            });

            $.ajax({
                type: "POST",
                url: "/Alarm/ResidentSMSConfig",
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(residentArray),
                traditional: true
            });
            alert('بروزرسانی با موفقیت انجام شد');
        });

        $('#btnPhysist').click(function () {
            var physistArray = new Array();
            $("#AlarmConfig tbody tr td.physist input[type=checkbox]:checked").each(function () {
                //alert($(this).attr('AlarmEventTypeId'));
                physistArray.push($(this).attr('AlarmEventTypeId'));
            });

            $.ajax({
                type: "POST",
                url: "/Alarm/PhysistSMSConfig",
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(physistArray),
                traditional: true
            });
            alert('بروزرسانی با موفقیت انجام شد');
        });

        $('#btnAdmin').click(function () {
            var adminArray = new Array();
            $("#AlarmConfig tbody tr td.admin input[type=checkbox]:checked").each(function () {
                //alert($(this).attr('AlarmEventTypeId'));
                adminArray.push($(this).attr('AlarmEventTypeId'));
                alert('در نسخه جدید ارائه خواهد شد');
            });
        });

    });

</script>