@model PhysicManagement.Model.PhysicTreatment

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت درمان فیزیکی جدید";
    }
    else {
        ViewBag.Title = "ویرایش اطلاعات درمان فیزیکی ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی درمان فیزیکی</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="UserName" class="bmd-label-floating"> شناسه پرونده پزشکی</label>
                                    <input type="text" id="UserName" name="UserName" value="@Model.MedicalRecordId" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Password" class="bmd-label-floating">شماره فاز</label>
                                    <input type="text" id="Password" name="Password" value="@Model.PhaseNumber" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FirstName" class="bmd-label-floating">نقشه درمان فیزیکی</label>
                                    <input type="text" id="FirstName" name="FirstName" value="@Model.PhysicTreatmentPlan" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="LastName" class="bmd-label-floating">روز ثبت</label>
                                    <input type="text" id="LastName" name="LastName" value="@Model.ActionDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Mobile" class="bmd-label-floating">کاربر</label>
                                    <input type="text" id="Mobile" name="Mobile" value="@Model.ActionUser" class="form-control">
                                </div>
                            </div>                                                                                    
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

