@model List<PhysicManagement.Model.PhysicTreatmentPlan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">لیست برنامه درمان فیزیکی</h4>
                    <h3>
                        <a class="btn btn-sm bg-light text-dark" href="Modify">افزودن جدید</a>
                    </h3>
                    <p class="card-category">
                    </p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>شناسه درمان فیزیکی</th>
                                <th>شناسه ارگان</th>
                                <th>دز برنامه ریزی شده</th>
                                <th>ارزیابی</th>
                                <th>کاربر</th>
                                <th>روز ثبت</th>
                                <th>فیلد رزرم 1</th>
                                <th>فیلد رزرو 2</th>
                                <th>دکتر معالج کاربر</th>
                                <th style="width:50px;">امکانات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int Index = 1;
                                foreach (var physicTreatmentPlan in Model)
                                {
                                                        <tr>
                                                            <td>@Index</td>
                                                            <td>@physicTreatmentPlan.PhysicTreatmentId</td>
                                                            <td>@physicTreatmentPlan.CancerOARId</td>
                                                            <td>@physicTreatmentPlan.PlannedDose</td>
                                                            <td>@physicTreatmentPlan.Evaluation</td>
                                                            <td>@physicTreatmentPlan.ActionDate</td>
                                                            <td>@physicTreatmentPlan.ActionUser</td>
                                                            <td>@physicTreatmentPlan.Reserve1</td>
                                                            <td>@physicTreatmentPlan.Reserve2</td>
                                                            <td>@physicTreatmentPlan.AcceptedDoctorUser</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        امکانات
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-left">
                                                                        <a class="dropdown-item" href="Modify/@physicTreatmentPlan.Id">ویرایش</a>
                                                                        <a class="dropdown-item" href="Modify/@physicTreatmentPlan.Id">حذف</a>
                                                                        <div class="dropdown-divider"></div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                    Index++;
                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

