@model PhysicManagement.Model.PhysicTreatmentPlan

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت برنامه درمان فیزیکی جدید ";
    }
    else {
        ViewBag.Title = "ویرایش اطلاعات برنامه درمان فیزیکی ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی برنامه درمان فیزیکی</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="PhysicTreatmentId" class="bmd-label-floating">درمان فیزیکی </label>
                                    @Html.DropDownList("PhysicTreatmentId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="CanserOARId" class="bmd-label-floating">ارگان </label>
                                    @Html.DropDownList("CanserOARId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ActionUser" class="bmd-label-floating">کاربر</label>
                                    <input type="text" id="ActionUser" name="ActionUser" value="@Model.ActionUser" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.EditorPersianDatePicker(model => model.ActionDate, "روز ثبت")
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Reserve1" class="bmd-label-floating">فیلد رزرو 1</label>
                                    <input type="text" id="Reserve1" name="Reserve1" value="@Model.Reserve1" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Reserve2" class="bmd-label-floating">فیلد رزرو 2</label>
                                    <input type="text" id="Reserve2" name="Reserve2" value="@Model.Reserve2" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="AcceptedDoctorUser" class="bmd-label-floating">پزشک معالج بیمار</label>
                                    <input type="text" id="AcceptedDoctorUser" name="AcceptedDoctorUser" value="@Model.AcceptedDoctorUser" class="form-control">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="@Model.HadContour"> HadConter
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="@Model.IsAcceptedByDoctor"> IsAcceptedByDoctor
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="@Model.IsAcceptedByPhysic"> IsAcceptedByPhysic
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="PlannedDose" class="bmd-label-floating">دز برنامه ریزی شده</label>
                                        <textarea id="PlannedDose" name="PlannedDose" rows="5" class="form-control">@Model.PlannedDose</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Evaluation" class="bmd-label-floating">ارزیابی</label>
                                        <textarea id="Evaluation" name="Evaluation" rows="5" class="form-control">@Model.Evaluation</textarea>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                            <div class="clearfix"></div>
</form>
                </div>
            </div>
        </div>
    </div>

