@model PhysicManagement.Model.PhysicTreatmentPlan

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت برنامه درمان فیزیکی جدید ";
    }
    else {
        ViewBag.Title = "ویرایش اطلاعات برنامه درمان فیزیکی ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی برنامه درمان فیزیکی</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="PlannedDose" class="bmd-label-floating">دز برنامه ریزی شده</label>
                                    <textarea id="PlannedDose" name="PlannedDose" rows="2" value="@Model.PlannedDose" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Evaluation" class="bmd-label-floating">ارزیابی</label>
                                    <textarea type="text" id="Evaluation" name="Evaluation" rows="2" value="@Model.Evaluation" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorPersianDatePicker(model => model.ActionDate, " روز ثبت")
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Reserve1" class="bmd-label-floating">فیلد رزرو 1</label>
                                    <input type="text" id="Reserve1" name="Reserve1" value="@Model.Reserve1" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Reserve2" class="bmd-label-floating">فیلد رزرو 2</label>
                                    <input type="text" id="Reserve2" name="Reserve2" value="@Model.Reserve2" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="HadContour" class="bmd-label-floating">HadContour</label>
                                    <input type="checkbox" id="HadContour" name="HadContour" value="@Model.HadContour" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="IsAcceptedByDoctor" class="bmd-label-floating">IsAcceptedByDoctor</label>
                                    <input type="checkbox" id="IsAcceptedByDoctor" name="IsAcceptedByDoctor" value="@Model.IsAcceptedByDoctor" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="IsAcceptedByDoctor" class="bmd-label-floating">IsAcceptedByPhysic</label>
                                    <input type="checkbox" id="IsAcceptedByPhysic" name="IsAcceptedByPhysic" value="@Model.IsAcceptedByPhysic" class="form-control">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

